<%- include('../../partials/header.ejs') %> <%-
include('../../partials/admin_navbar.ejs') %>

<aside>
  <div class="items">
    <a href="/admin/dashboard" class="sidebar-item">Home</a>
    <a href="/admin/accounts" class="sidebar-item">Users</a>
    <a href="/admin/categories" class="sidebar-item">Categories</a>
    <a href="/admin/products" class="sidebar-item">Products</a>
  </div>
</aside>

<div class="main">
  <div class="container-cat">
    <div class="mx-[32px]">
      <div class="flex items-center">
        <h1 class="flex-grow-1 flex-shrink-1">Users</h1>
      </div>
      <% if (users.length === 0) { %>
      <h1>No users!</h1>
      <% } else { %>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td>
              <form
                action="/admin/accounts/<%= user.id %>/<%= user.isBlocked ? 'unblock' : 'block' %>?_method=PUT"
                method="POST"
                style="display: inline-block"
              >
                <button class="btn-danger-sm" type="submit">
                  <%= user.isBlocked ? 'Unblock' : 'Block' %>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
